
.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

td{
  text-align: left;
  padding: 8px;
}
th{
  text-align: left;
  padding: 8px;
}
table{
  padding: 10px;
  background-color: rgb(240, 243, 243);
  /* border: none; */
}
button{
  font-size: 20px;
  padding: 10px;
  text-transform: capitalize;
  font-weight: bold;
}
